body{
    padding-top: 10em;
}
.container {
    text-align: center;
    width: 70%;
    margin-bottom: 4em;
    padding: 1em;
    font-size: 3em;
    color: #666;
    border: 5px solid #999;
}

.row{
    margin: 0.5em;
}
.heading {
    font-size: 3em;
}

img {
    width: 4em;
    vertical-align: -80%;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
    vertical-align: -20%
}

input[type="button"] {
    width: 100%;
    font-size: 1em;
}

input[type="text"] {
    margin-left:0.5em;
    margin-right:0.5em;
    width: 5em;
    text-align: center;
}